<p class="p"></p>
<div class="cols">
  <div class="background">
    <div class="inputs">
      <input class="inputs_title" #newItemTitle placeholder="title" />
      <textarea class="inputs_text" #newItemText placeholder="text"></textarea>
      <button
        class="add-button"
        (click)="
          addItem(newItemTitle.value, newItemText.value);
          newItemTitle.value = '';
          newItemText.value = ''
        "
      >
        add
      </button>
    </div>
  </div>
  <ul class="posts">
    <li *ngFor="let item of items">
      <app-item (remove)="remove(item)" [item]="item"></app-item>
    </li>
  </ul>
</div>
